* {
  box-sizing: border-box;
}

body {
  margin-bottom: 0;
}

#root {
  margin: -8px;
  height: 100vh;
}

.app-title-bar {

}

.app-wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.app-container {
  width: 100vw;
}

.darwin-background {
  background-color: rgb(236, 236, 236);
}

.darwin-app-wrapper {
  padding: 10px;
}

.win32-background {
  background-color: rgb(255, 255, 255);
}

.win32-app-wrapper {
  padding: 12px;
}
